extends layout

block content
  #app.container
    h1.display-1 {{ title }}
    p.text-muted(v-if='hostname') Running on host {{ hostname }}

    form.form-inline(v-on:submit.prevent='createTodo')
      label#todo-text.sr-only What to do
      input#todo-text.form-control.mr-2(placeholder='What to do...', v-model='newTodoText')
      button.btn.btn-primary(type='submit') Add

    ul.list-group.mt-3
      li.list-group-item(v-for='todo in todos')
        | {{ todo.text }}
        button.btn.btn-danger.btn-sm.float-right(type='button', v-on:click.prevent='destroyTodo(todo)')
          i.fa.fa-trash-alt
